.navbar{
    flex-direction: column;
}
#about .about-img{
    flex-direction: column;
    align-items: center;
}
#about .about-img img{
    width: 500px;
    height: 300px;
}
#about .about-img .about-text h2{
    text-align: center;
    padding: 10px;
}
#service .row{
    flex-direction: column;
}
#service .row .box{
    width: 60%;
    height: 60%;
    margin-top: 15px;
}
input{
    width: 50%;
}
textarea{
    width: 50%;
}
#button{
    width: 25%;
}